@charset "ISO-8859-1";

/*********************************
Footer 
*********************************/
.social-media-icon {
    color: #000000;
}

.social-media-icon i {
    font-size: 30px;
    line-height: 60px;
}

.nav-bk {
    background: #000000;
}

/* Estilo para cada tarjeta de receta */
.receta-container {
    width: 200px; /* Ancho fijo de la tarjeta */
}

.receta-imagen-container {
    width: 100%; /* Ancho fijo del contenedor de imagen */
    height: 200px; /* Altura fija del contenedor de imagen */
    overflow: hidden;
}

/* Asegúrate de que las imágenes de las recetas se ajusten correctamente */
.receta-imagen {
    width: 100%; /* Ancho fijo de la imagen */
    height: 100%; /* Altura fija de la imagen */
    object-fit: cover; /* Escala la imagen para cubrir todo el contenedor */
}

.receta-info {
    margin-top: 10px;
    font-size: 14px; /* Tamaño de fuente más pequeño para la información de la receta */
}

label {
    color: grey;
}

#form-container {
    width: 100%; /* Opcional: Ancho completo */
    text-align: center; /* Centrar el contenido horizontalmente */
    margin-top: 50px; /* Espacio superior opcional */
}

#form-container {
    width: 100%;
    text-align: left; 
    margin-top: 50px;
}

#form p {
    text-align: center;
}

/* Aumentar el tamaño de las estrellas */
.clasificacion label {
    font-size: 30px; 
}

input[type="radio"] {
    display: inline;
}



.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
}

/* Estilo para los labels cuando se realiza hover */
.clasificacion label.estrella:hover,
.clasificacion label.estrella:hover ~ .estrella {
    color: orange;
}

/* Estilo para los labels cuando están checked */
.clasificacion input[type="radio"]:checked ~ .estrella {
    color: orange;
}


/* Estilo para la sección de novedades */
.novedades-section {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Estilo para el título de la sección de novedades */
.novedades-section .section-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

/* Estilo para los mensajes de novedades (puedes personalizar según tu diseño) */
.novedades-section .receta-container {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo para la información de las recetas en la sección de novedades */
.novedades-section .receta-info p {
    margin: 5px 0;
    font-size: 1rem;
    color: #333;
}

/* Estilo para la sección de popularidad de usuarios */
.popularidad-section {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Estilo para el título de la sección de popularidad de usuarios */
.popularidad-section .section-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

/* Estilo para los mensajes de popularidad de usuarios (puedes personalizar según tu diseño) */
.popularidad-section .usuario-container {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo para la información de los usuarios en la sección de popularidad de usuarios */
.popularidad-section .usuario-info p {
    margin: 5px 0;
    font-size: 1rem;
    color: #333;
}

/* Estilo para la sección de popularidad de recetas */
.popularidad-recetas-section {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Estilo para el título de la sección de popularidad de re.cetas */
.popularidad-recetas-section .section-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

/* Estilo para los mensajes de popularidad de recetas (puedes personalizar según tu diseño) */
.popularidad-recetas-section .receta-container {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo para la información de las recetas en la sección de popularidad de recetas */
.popularidad-recetas-section .receta-info p {
    margin: 5px 0;
    font-size: 1rem;
    color: #333;
}

/* Estilo para las estrellas */
.star-icon {
    color: #FFD700; /* Cambia el color a dorado (amarillo) */
    margin-left: auto;
    font-size: 24px; /* Cambia el tamaño de las estrellas */
}


body {
    margin: 0;
    padding: 0;
    font-family: 'montserrat';
    background-image: url("../static/fondo-comida.jpg"); /* Ruta de la imagen de fondo */
    background-size: cover; /* Para cubrir toda la pantalla */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    background-attachment: fixed; /* Fija la imagen en su lugar mientras se desplaza la página */
    box-sizing: border-box;
}


/* Estilos para el contenedor de "nube" */
.comentario-cloud {
    background-color: #f0f0f0; /* Color de fondo de la "nube" */
    border-radius: 10px; /* Borde redondeado para la "nube" */
    padding: 10px; /* Espaciado interno */
    margin-bottom: 10px; /* Espacio entre comentarios */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Sombra para el efecto de "nube" */
}

/* Estilos para la imagen de perfil dentro de la "nube" */
.comentario-cloud img {
    max-width: 50px; /* Ancho máximo para la imagen de perfil */
    border-radius: 50%; /* Hacer que la imagen de perfil sea circular */
    margin-right: 10px; /* Espacio a la derecha de la imagen de perfil */
}

.miniatura {
    width: 50px; 
    cursor: pointer;
  }