@charset "ISO-8859-1";

/*********************************
Footer 
*********************************/
.social-media-icon {
    color: #000000;
}

.social-media-icon i {
    font-size: 30px;
    line-height: 60px;
}

.nav-bk {
    background: #000000;
}

/* Estilo para cada tarjeta de receta */
.receta-container {
    width: 200px; /* Ancho fijo de la tarjeta */
}

.receta-imagen-container {
    width: 100%; /* Ancho fijo del contenedor de imagen */
    height: 200px; /* Altura fija del contenedor de imagen */
    overflow: hidden;
}

/* Asegúrate de que las imágenes de las recetas se ajusten correctamente */
.receta-imagen {
    width: 100%; /* Ancho fijo de la imagen */
    height: 100%; /* Altura fija de la imagen */
    object-fit: cover; /* Escala la imagen para cubrir todo el contenedor */
}

.receta-info {
    margin-top: 10px;
    font-size: 14px; /* Tamaño de fuente más pequeño para la información de la receta */
}

