<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" class="h-75">
  <head>
    <title>Website Grupo E</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" />
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      href="https://unpkg.com/boxicons@2.0.5/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='index_styles.css')}}"
    />
  </head>
  <body class="h-100">
    <div class="form-outline">
      <img
        src="{{ url_for('static', filename='chefencasa.png.jpg') }}"
        alt="Universidad Nacional de Lanús"
        style="vertical-align: Stickman; margin: 0px; padding: 16px"
      />
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark nav-bk">
      <a class="navbar-brand d-flex gap-lg-1 mx-lg-3" href="#">
        <i class="bi bi-house-fill text-white"></i> Inicio
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#collapsibleNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse d-flex align-items-center"
        id="collapsibleNavbar"
      >
        <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/myprofile">Perfil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/recetas">Mis Recetas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/storyline">Publicaciones</a>
              </li>          
              <li class="nav-item">
                <a class="nav-link" href="/seguidores">Seguidores</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/seguidos">Seguidos</a>
              </li>
        </ul>
    
      </div>
      <div class="nav navbar-nav navbar-right" id="collapsibleNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item">
            <a class="nav-link" href="/logout"
              >Cerrar Sesión
              <i class="bi bi-box-arrow-left" style="vertical-align: -1px"></i
            ></a>
          </li>
        </ul>
      </div>
    </nav>
  </body>
</html>
	</nav>
    <header class="masthead p-0 pb-lg-5">
        <div class="container h-100">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="login-form">
                        <form action="/altaReceta" method="post">
                            <div class="form-outline mb-4">
                                {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                  {% for category, message in messages %}
                                     <div class="alert alert-{{ category }}" role="alert"> {{ message }}</div>
                                  {% endfor %}
                                {% endif %}
                              {% endwith %}
                            </div>

                            <h3>Datos de Receta</h3>
                            
                            <div class="form-group">
                                <label>Titulo </label> <input type="text" 
                                    class="form-control form-control-sm" id="tituloReceta" name="tituloReceta" required>
                            </div>

                            <div class="form-group">
                                <label>Descripcion </label> <input type="text" 
                                    class="form-control form-control-sm" id="descripcion" name="descripcion" required>
                            </div>
                            
                            <div class="form-group">
                            <label for="pasos">Pasos</label><br>
                            <textarea name="pasos" rows="5" cols="60" class="form-control form-control-sm" 
                            id="pasos" required></textarea> 
                            </div>

                            <div class="form-group">
                                <label>Tiempo de Preparacion </label> <input type="text" 
                                    class="form-control form-control-sm" id="tiempoPreparacion" name="tiempoPreparacion" required>
                            </div>

                            <div class="form-group">
                                <label for="start">Fecha de Creación</label>
                                <input type="date" class="form-control form-control-sm" id="fechaCreacion" name="fechaCreacion"  value="2022-07-22" min="2022-01-01" max="2023-12-31" />
                             </div>

                             <div class="form-group">
                                <label for="formFileMultiple" class="form-label">Agregar foto principal</label>
                                <input class="form-control" type="file" id="foto1" name="foto1" multiple>
                            </div>

                            <div class="form-group">
                                <label for="formFileMultiple" class="form-label">Agregar foto</label>
                                <input class="form-control" type="file" id="foto2" name="foto2" multiple>
                            </div>

                            <div class="form-group">
                                <label for="formFileMultiple" class="form-label">Agregar foto</label>
                                <input class="form-control" type="file" id="foto3" name="foto3" multiple>
                            </div>

                            <div class="form-group">
                                <label for="formFileMultiple" class="form-label">Agregar foto</label>
                                <input class="form-control" type="file" id="foto4" name="foto4" multiple>
                            </div>

                            <div class="form-group">
                                <label for="formFileMultiple" class="form-label">Agregar foto</label>
                                <input class="form-control" type="file" id="foto5" name="foto5" multiple>
                            </div>

                             <p>
                             <div class="form-group">
                                <input type="submit" class="btn-success form-control form-control-sm"/>
                             </p>
                        </p>

                        </form>
                    </div>
                </div>
            </div>
        </div>

</body>  
</html>
