<!DOCTYPE html>
<head>
  <title>Website Grupo E</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
  <meta charset="utf-8" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css"
  />
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous"
  />
  <link
    href="https://unpkg.com/boxicons@2.0.5/css/boxicons.min.css"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='index_styles.css')}}"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='receta_styles.css')}}"
  />

  <!-- Incluir el archivo CSS de DataTables -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">

  <!-- JavaScript para inicializar DataTables -->
  <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>

  <style>
    /* Estilo para las miniaturas de las recetas en la tabla */
    .miniatura {
      width: 100px; /* Ajusta el tamaño según tus preferencias */
      cursor: pointer; /* Cambia el cursor a una mano al pasar el ratón sobre la miniatura */
    }

    /* Estilo para ocultar el detalle de la receta por defecto */
    .modal-body {
      display: none;
    }

    /* Estilo para mostrar el detalle de la receta cuando se muestra el modal */
    .modal.show .modal-body {
      display: block;
    }
  </style>
</head>

<body onload="inicio();" class="h-100">
  <script>
    $(document).ready(function () {
      $('#example').DataTable();
    });

    function inicio() {
      categorias();
      cargarIngredientes();
      cargarUsuario();
      eliminarFavorito(button,favoritoId);
    }
    
    //select Categoria
    function categorias() {
      var out = "";
      var xhttp = new XMLHttpRequest();
      xhttp.open("GET", "/categorias", false);
      xhttp.setRequestHeader("Content-Type", "application/json");
      xhttp.send();
      var data = JSON.parse(xhttp.responseText);
      for (let i = 0; i < data.categoria.length; i++) {
        out +=
          '<option value="' +
          data.categoria[i].id +
          '">' +
          data.categoria[i].categoria +
          "</option>";
      }
      document.getElementById("categoria").innerHTML = out;
    }

    // Cargar la lista de ingredientes al cargar la página
    function cargarIngredientes() {
      console.log("cargarIngredientes function called");
      var xhr = new XMLHttpRequest();
      xhr.open("GET", "/ingredientes", true);

      // Define ingredientesSelect para seleccionar el elemento HTML
      var ingredientesSelect = document.getElementById("ingredientes");

      xhr.onreadystatechange = function () {
        if (xhr.readyState === 4 && xhr.status === 200) {
          var response = JSON.parse(xhr.responseText);
          var ingredientes = response.ingrediente; // Accede a response.ingrediente

          console.log("Respuesta del servidor:", ingredientes);

          // Verifica si ingredientes es un array y luego itera sobre él
          if (Array.isArray(ingredientes)) {
            ingredientes.forEach(function (ingrediente) {
              var option = document.createElement("option");
              option.value = ingrediente.id;
              option.text = ingrediente.nombre;
              ingredientesSelect.appendChild(option);
            });
          } else {
            console.error(
              "La respuesta del servidor no contiene una lista de ingredientes válida:",
              response
            );
          }
        }
      };
      xhr.send();
    }

    // Cargar el usuario desde el endpoint /user/<int:id>
    function cargarUsuario() {
      console.log("cargarUsuario function called");
      var userId = "{{ user_id }}"; // Aquí obtén el ID del usuario de tu aplicación
      var xhr = new XMLHttpRequest();
      xhr.open("GET", `/user/${userId}`, true);
      xhr.onreadystatechange = function () {
        if (xhr.readyState === 4 && xhr.status === 200) {
          var usuario = JSON.parse(xhr.responseText);

          // Aquí puedes utilizar la información del usuario para prellenar la base de datos
          // por ejemplo, enviarla al servidor con el formulario de creación de recetas
          document.getElementById("user_id").value = usuario.id; // Asigna el ID del usuario al campo oculto
          // Puedes asignar otros datos del usuario a otros campos del formulario si es necesario
        }
      };
      xhr.send();
    }

    // Actualiza la función eliminarFavorito para obtener el ID del favorito del botón
    function eliminarFavorito(button, favoritoId) {
      var favoritoId = $(button).data("favoritoid");
    
      console.log("Favorito ID a eliminar:", favoritoId);
    
      // Realiza una solicitud AJAX para eliminar el favorito
      $.ajax({
        type: "POST",
        url: `/eliminarFavorito/${favoritoId}`,
        success: function (data, textStatus, xhr) {
          console.log("Respuesta del servidor:", xhr.status);
    
          if (xhr.status === 200) {

            $("#filaFavorito_" + favoritoId).hide(); // Cambia el ID de filaReceta_ a filaFavorito_
            
            // Quita la clase "favorito-activo" para cambiar el color del corazón a blanco
            $(button).removeClass("favorito-activo");

            // Recarga la página para reflejar los cambios
            location.reload();
          } else {
            // Maneja el caso en que la eliminación falla, muestra un mensaje de error
            alert("Error al eliminar el favorito. Estado: " + xhr.status);
          }
        },
        error: function (jqXHR, textStatus, errorThrown) {
          // Maneja los errores de la solicitud AJAX
          alert("Error al comunicarse con el servidor. Estado: " + jqXHR.status);
        },
      });
    }
        
    window.onload = inicio;

  </script>

  <div class="form-outline">
    <img
      src="{{ url_for('static', filename='chefencasa.png') }}"
      alt="Universidad Nacional de Lanús"
      style="vertical-align: Stickman; margin: 0px; padding: 16px"
    />
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark nav-bk">
    <a class="navbar-brand d-flex gap-lg-1 mx-lg-3" href="/index">
      <i class="bi bi-house-fill text-white"></i> Inicio
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#collapsibleNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse d-flex align-items-center"
      id="collapsibleNavbar"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/myprofile">Mi Perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/misMensajes">Mis Mensajes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/storyline">Publicaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/misRecetas">Mis Recetas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/misRecetarios">Mis Recetarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/favoritos">Mis Favoritos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/seguidos">Seguidos</a>
        </li>     
      </ul>
    </div>
    <div class="nav navbar-nav navbar-right" id="collapsibleNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link" href="/logout"
            >Cerrar Sesión
            <i class="bi bi-box-arrow-left" style="vertical-align: -1px"></i
          ></a>
        </li>
      </ul>
    </div>
  </nav>

  <!--tabla-->
  <div class="container-xl">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="form-outline mb-4">
              {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                   <div class="alert alert-{{ category }}" role="alert"> {{ message }}</div>
                {% endfor %}
              {% endif %}
            {% endwith %}
            </div>
            <div class="col-sm-8">
              <h2 style="margin-bottom: 20px;"><b>Favoritos</b></h2>
            </div>
          </div>
        </div>
        <table id="example" class="table table-striped" style="width:100%">
          <thead>
            <tr>
             
              <th>Título</th>
              <th>Tiempo de Preparación</th>
              <th>Foto en Miniatura</th>
              <th style="display:none;">Categoría</th> <!-- Columna de Categoría oculta -->
              <th style="display:none;">Ingredientes</th> <!-- Columna de Ingredientes oculta -->
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for favorito in favoritos %}
            <tr>
              <td>{{ favorito.receta.tituloReceta }}</td>
              <td>{{ favorito.receta.tiempoPreparacion }} minutos</td>
              <td>
                <img
                  src="{{ favorito.receta.foto1 }}"
                  alt="{{ favorito.receta.tituloReceta }}"
                  class="miniatura"
                  data-toggle="modal"
                  data-target="#modalReceta{{ favorito.receta.idReceta }}"
                >
              </td>
              <td style="display:none;">
                {{ favorito.receta.categoria.categoria }}</td> <!-- Columna de Categoría oculta -->
              <td style="display:none;">
                {% for ingrediente in favorito.receta.ingredientes %}
                  {{ ingrediente.nombre }}
                  {% if not loop.last %}, {% endif %}
                {% endfor %}
              </td> <!-- Columna de Ingredientes oculta -->          
              <td>
                <div class="btn-group">
                  <button class="btn btn-recetas btn-sm"
                    data-toggle="modal"
                    data-target="#modalReceta{{ favorito.receta.idReceta }}">
                    <i class="fa-solid fa-plus" style="color: #ffffff;"></i>                  
                  </button>
                  &nbsp; <!--espacio en blanco-->
                  <button class="btn btn-recetas btn-sm ml-1 favorito-activo" 
                    data-favoritoid="{{ favorito.id }}" 
                    onclick="eliminarFavorito(this)">
                    <i class="fas fa-heart"></i>
                  </button>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Modales para el detalle de las recetas -->
  {% for favorito in favoritos %}
  <div
    class="modal fade"
    id="modalReceta{{ favorito.receta.idReceta }}"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modalReceta{{ favorito.receta.idReceta }}Label"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalReceta{{ favorito.receta.idReceta }}Label">{{ favorito.receta.tituloReceta }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img src="{{ favorito.receta.foto1 }}" alt="{{ favorito.receta.tituloReceta }}" width="200" height="150" class="detalle-imagen">
          <p>
          <p>Usuario: 
            {{ favorito.receta.id }}
           

          <p>Categoria: {{ favorito.receta.categoria.categoria }}</p>
          <p>Descripcion: {{ favorito.receta.descripcion }}</p>
          <p>Ingredientes:
            {% for ingrediente in favorito.receta.ingredientes %}
              {{ ingrediente.nombre }}
              {% if not loop.last %}, {% endif %}
            {% endfor %}
          </p>
          <p>Pasos de preparación: {{ favorito.receta.pasos }}</p>

          <form>
            <textarea rows="5" cols="50"></textarea><br><br>
            <input type="submit" value="Enviar comentario">
          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</body>
</html>
