<!DOCTYPE html>
<html>
<head>
    <title>Website Grupo E</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link href="https://unpkg.com/boxicons@2.0.5/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index_styles.css') }}" />
</head>
<body class="h-100">
    <div class="form-outline">
        <img src="{{ url_for('static', filename='chefencasa.png') }}" alt="Universidad Nacional de Lanús" style="vertical-align: Stickman; margin: 0px; padding: 16px" />
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark nav-bk">
        <a class="navbar-brand d-flex gap-lg-1 mx-lg-3" href="/index">
            <i class="bi bi-house-fill text-white"></i> Inicio
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex align-items-center" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/myprofile">Mi Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/misMensajes">Mis Mensajes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/storyline">Publicaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/misRecetas">Mis Recetas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/misRecetarios">Mis Recetarios</a>
                  </li>
                <li class="nav-item">
                    <a class="nav-link" href="/favoritos">Mis Favoritos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/seguidos">Seguidos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Cerrar Sesión <i class="bi bi-box-arrow-left" style="vertical-align: -1px"></i></a>
                </li>
            </ul>
        </div>
        <div class="nav navbar-nav navbar-right" id="collapsibleNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item px-lg-3">
                    <span class="text-light">Hola, </span>
                    <span class="text-light">{{nombre}}</span>
                    <i class="bi bi-person text-white"></i>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Agrega la lista de las últimas recetas aquí -->
    <div class="container mt-4">
        <!-- Sección de Novedades -->
        <div class="novedades-section">
            <h3 class="section-title">Novedades</h3>
            <div class="d-flex flex-row flex-nowrap justify-content-center" id="lista-novedades">
                <!-- Los mensajes de novedades se cargarán aquí dinámicamente con JavaScript -->
            </div>
        </div>
        <!-- Sección de Popularidad de Usuarios -->
        <div class="popularidad-section">
            <h3 class="section-title">Usuarios más Populares</h3>
            <div class="d-flex flex-row flex-nowrap justify-content-left" id="lista-popularidadUsuario">
                <!-- Los mensajes de popularidad de usuarios se cargarán aquí dinámicamente con JavaScript -->
            </div>
        </div>
        <!-- Sección de Popularidad de Recetas -->
        <div class="popularidad-recetas-section">
            <h3 class="section-title">Recetas más Populares</h3>
            <div class="d-flex flex-row flex-nowrap justify-content-left" id="lista-popularidadReceta">
                <!-- Los mensajes de popularidad de recetas se cargarán aquí dinámicamente con JavaScript -->
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        // Código JavaScript para cargar la lista de novedades
        $(document).ready(function() {
            $.get("/novedades", function(data) {
                var listaNovedades = $("#lista-novedades");
                data.forEach(function(mensaje) {
                    // Accede a las propiedades del objeto mensaje de novedades
                    var nombreUsuario = mensaje.novedades.nombreUsuario;
                    var tituloReceta = mensaje.novedades.tituloReceta;
                    var fotoReceta = mensaje.novedades.foto1;

                    // Construye el HTML para mostrar la información de la receta
                    var mensajeHTML = '<div class="receta-container d-flex flex-column align-items-center">';
                    mensajeHTML += '<div class="receta-imagen-container">';
                    mensajeHTML += '<img src="' + fotoReceta + '" alt="Foto de la Receta" class="receta-imagen">';
                    mensajeHTML += '</div>';
                    mensajeHTML += '<div class="receta-info">';
                    mensajeHTML += '<p>Nombre de Usuario: ' + nombreUsuario + '</p>';
                    mensajeHTML += '<p>Título de Receta: ' + tituloReceta + '</p>';
                    mensajeHTML += '</div>';
                    mensajeHTML += '</div>';         
                    listaNovedades.append(mensajeHTML);
                });
            });
        });

        // Código JavaScript para cargar la lista de popularidad de usuarios
        $(document).ready(function() {
            $.ajax({
                type: 'GET',
                url: '/popularidadUsuarios',
                dataType: 'json',
                success: function(data) {
                    var listaPopularidadUsuario = $("#lista-popularidadUsuario");
                    
                    if (data && data.popularidadUser && Array.isArray(data.popularidadUser)) {
                        data.popularidadUser.forEach(function(usuario) {
                            var nombreUsuario = usuario.user.nombre;
                            var puntaje = parseFloat(usuario.puntaje);

                            if (!isNaN(puntaje) && nombreUsuario) {
                                var usuarioHTML = '<div class="usuario-container d-flex flex-column align-items-center">';
                                usuarioHTML += '<div class="usuario-info">';
                                usuarioHTML += '<i class="bi bi-star-fill star-icon text-warning"></i>';
                                usuarioHTML += '<p>Nombre de Usuario: ' + nombreUsuario + '</p>';
                                usuarioHTML += '<p>Puntaje: ' + puntaje.toFixed(2) + '</p>';
                                usuarioHTML += '</div>';
                                usuarioHTML += '</div>';
                                listaPopularidadUsuario.append(usuarioHTML);
                            } else {
                                console.error("Invalid data in usuario:", usuario);
                            }
                        });
                    } else {
                        console.error("Data is not in the expected format:", data);
                    }
                },
                error: function(xhr, status, error) {
                    console.error("AJAX Error:", status, error);
                }
            });
        });


        // Código JavaScript para cargar la lista de popularidad de recetas
        $(document).ready(function() {
            $.ajax({
                type: 'GET',
                url: '/popularidadRecetas',
                dataType: 'json',
                success: function(data) {
                    var listaPopularidadReceta = $("#lista-popularidadReceta");
                    
                    data.popularidadReceta.forEach(function(item) {
                        var puntaje = parseFloat(item.puntaje);
                        var tituloReceta = item.receta.tituloReceta;
        
                        if (!isNaN(puntaje) && tituloReceta) {
                            var recetaHTML = '<div class="receta-container d-flex flex-column align-items-center">';
                            recetaHTML += '<div class="receta-info">';
                            recetaHTML += '<i class="bi bi-star-fill star-icon text-warning"></i>';
                            recetaHTML += '<p>Título de Receta: ' + tituloReceta + '</p>';
                            recetaHTML += '<p>Puntaje: ' + puntaje.toFixed(2) + '</p>';
                            recetaHTML += '</div>';
                            recetaHTML += '</div>';
                            listaPopularidadReceta.append(recetaHTML);
                        } else {
                            console.error("Invalid data in item:", item);
                        }
                    });
                },
                error: function(xhr, status, error) {
                    console.error("AJAX Error:", status, error);
                }
            });
        });
    </script>  
</body>
</html>
