<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Website Grupo E</title>
  <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="https://unpkg.com/boxicons@2.0.5/css/boxicons.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index_styles.css')}}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='receta_styles.css')}}">
  <!-- Incluir el archivo CSS de DataTables -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
</head>
<body class="h-100">
  <div class="form-outline">
    <img src="{{ url_for('static', filename='chefencasa.png') }}" alt="Universidad Nacional de Lanús" style="vertical-align: Stickman; margin: 0px; padding: 16px">
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark nav-bk">
    <a class="navbar-brand d-flex gap-lg-1 mx-lg-3" href="/index">
      <i class="bi bi-house-fill text-white"></i> Inicio
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex align-items-center" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/myprofile">Mi Perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/misMensajes">Mis Mensajes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/storyline">Publicaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/misRecetas">Mis Recetas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/misRecetarios">Mis Recetarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/favoritos">Mis Favoritos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/borradores">Mis Borradores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/seguidos">Seguidos</a>
        </li>
        
        {% if session['moderador'] == '1' %}
        <li class="nav-item">
            <a class="nav-link" href="/denuncias">Denuncias</a>
        </li>
        {% endif %}
        
      </ul>
    </div>
    <div class="nav navbar-nav navbar-right" id="collapsibleNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link" href="/logout">
            Cerrar Sesión
            <i class="bi bi-box-arrow-left" style="vertical-align: -1px"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container-xl">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="form-outline mb-4">
              {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
              <div class="alert-messages">
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}" role="alert">
                  {{ message }}
                </div>
                {% endfor %}
              </div>
              {% endif %}
              {% endwith %}
              <div class="col-sm-8">
                <h2 style="margin-bottom: 20px;"><b>Lista de seguidos</b></h2>
              </div>
            </div>
          </div>
        </div>
        {% block content %}
        <table id="example" class="table table-striped" style="width:100%">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Email</th>
              <th>Foto de perfil</th>
              <th>Acciones</th>
            </tr>          
          </thead>
          <tbody>
            {% for seguido in seguidos %}
            <tr>
              <td>{{ seguido.user.nombre }}</td>
              <td>{{ seguido.user.apellido }}</td>
              <td>{{ seguido.user.email }}</td>
              <td>
                <img
                  src="{{ seguido.user.fotoPerfil }}"
                  alt="{{ seguido.user.nombre }} {{ seguido.user.apellido }}"
                  class="miniatura"
                  data-toggle="modal"
                  data-target="#modaluser{{ seguido.user.id }}"
                >
              </td>
              <td>
                <button class="btn btn-recetas btn-sm" data-toggle="modal" data-target="#confirmacionModal" data-seguidoId="{{ seguido.id }}" onclick="eliminarSeguido(this)">
                  <i class="fa-solid fa-trash"></i>
                </button>
                <button class="btn btn-recetas btn-sm" data-toggle="modal" data-target="#modaluser{{ seguido.user.id }}">
                  <i class="fa-solid fa-circle-user"></i>
                </button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endblock %}
      </div>
    </div>
  </div>

  <!-- Modal para el detalle del usuario seguido -->
  {% for seguido in seguidos %}
  <div
      class="modal fade"
      id="modaluser{{ seguido.user.id }}"
      tabindex="-1"
      role="dialog"
      aria-labelledby="modaluser{{ seguido.user.id }}Label"
      aria-hidden="true"
  >
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="modaluser{{ seguido.user.id }}Label">{{ seguido.user.nombre }} {{ seguido.user.apellido }}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <img src="{{ seguido.user.fotoPerfil }}" alt="{{ seguido.user.nombre }} {{ seguido.user.apellido }}" width="200" height="150" class="detalle-imagen">
                  <p>Nombre: {{ seguido.user.nombre }}</p>
                  <p>Apellido: {{ seguido.user.apellido }}</p>
                  <p>Email: {{ seguido.user.email }}</p>
                  <!-- Agrega más detalles según tus necesidades -->
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              </div>
          </div>
      </div>
  </div>
  {% endfor %}
  <!-- Modal de Confirmación -->
  <div class="modal fade" id="confirmacionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirmación de Eliminación</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ¿Estás seguro de que deseas eliminar a este seguidor?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <form id="eliminarSeguidoForm" method="POST">
            <input type="hidden" id="seguidoId" name="seguidoId" value="">
            <button type="submit" class="btn btn-danger eliminarSeguidoBtn">Aceptar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- JavaScript y jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!-- DataTables -->
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
  <script>
    $(document).ready(function () {
      $('#example').DataTable();
    });

    var cerrarModal = false;

    function mostrarAlerta(tipo, mensaje) {
      if (tipo === "success") {
        alert(mensaje); // Puedes reemplazar esto con tu lógica para mostrar alertas de éxito
      } else if (tipo === "error") {
        alert("Error: " + mensaje); // Puedes personalizar el formato del mensaje de error
      }
    }
    
    function eliminarSeguido(button) {
      var seguidoId = $(button).data("seguidoid");
      console.log("Seguido ID a eliminar:", seguidoId);
    
      // Configura el valor del campo oculto en el formulario del modal
      $("#seguidoId").val(seguidoId);
    
      // Muestra el modal de confirmación
      $("#confirmacionModal").modal("show");
    
      // Agrega un listener para el botón Aceptar dentro del modal
      $(".eliminarSeguidoBtn").on("click", function (e) {
        e.preventDefault(); // Evita el envío normal del formulario
    
        // Realiza una solicitud AJAX para eliminar el seguido
        $.ajax({
          type: "POST",
          url: `/eliminarSeguido/${seguidoId}`,
          success: function (data, textStatus, xhr) {
            console.log("Respuesta del servidor:", xhr.status);
    
            if (xhr.status === 200) {
              // Elimina la fila correspondiente al seguido eliminado
              $("#filaSeguido_" + seguidoId).hide();
    
              // Cierra el modal de confirmación solo si la eliminación es exitosa
              $("#confirmacionModal").modal("hide");
    
              // Mostrar alerta después de cerrar el modal
              mostrarAlerta("success", data.message);
    
              // Recarga la página para reflejar los cambios
              location.reload();
            } else {
              // Maneja el caso en que la eliminación falla, muestra un mensaje de error
              mostrarAlerta("error", "Error al eliminar el Seguido. Estado: " + xhr.status);
            }
          },
          error: function (jqXHR, textStatus, errorThrown) {
            // Maneja los errores de la solicitud AJAX
            mostrarAlerta("error", "Error al comunicarse con el servidor. Estado: " + jqXHR.status);
          },
        });
      });
    }    
  </script>
</body>
</html>
