<!DOCTYPE html>
<html>
<head>
    <title>Lista de Borradores</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 8px;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
        }

        th {
            background-color: #f2f2f2;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Lista de Borradores</h1>
    {% for borrador_id, borradores in grouped_borradores.items() %}
    <h2>Borrador {{ borrador_id }}</h2>
    <table>
        <tr>
            <th>Título</th>
            <th>Descripción</th>
            <th>Categoría</th>
            <th>Tiempo de Preparación</th>
            <th>Foto 1</th>
            <th>Foto 2</th>
            <th>Foto 3</th>
            <th>Foto 4</th>
            <th>Foto 5</th>
            <th>Pasos</th>
            <th>Acciones</th>
        </tr>
        {% for borrador in borradores %}
        <tr>
            <td>{{ borrador.titulo_receta }}</td>
            <td>{{ borrador.descripcion }}</td>
            <td>{{ borrador.categoria_id }}</td>
            <td>{{ borrador.tiempo_preparacion }}</td>
            <td>{{ borrador.foto1 }}</td>
            <td>{{ borrador.foto2 }}</td>
            <td>{{ borrador.foto3 }}</td>
            <td>{{ borrador.foto4 }}</td>
            <td>{{ borrador.foto5 }}</td>
            <td>{{ borrador.pasos }}</td>
            <td><a href="{{ url_for('editar_borrador', borrador_id=borrador.id) }}">Editar</a></td>
        </tr>
        {% endfor %}
    </table>
    
    <button id="guardarReceta{{ borrador_id }}" disabled>Guardar Receta</button>
    <script>
        // Función para verificar si todos los campos de un borrador están completos
        function verificarCamposCompletos(borrador) {
            return (
                borrador.titulo_receta &&
                borrador.descripcion &&
                borrador.categoria_id &&
                borrador.tiempo_preparacion&&
                borrador.foto1&&
                borrador.foto2&&
                borrador.foto3&&
                borrador.foto4&&
                borrador.foto5&&
                borrador.pasos
            );
        }
    
        // Habilitar o deshabilitar el botón "Guardar Receta" según los campos completos
        function actualizarEstadoBoton(borrador) {
            const boton = document.getElementById("guardarReceta{{ borrador_id }}");
            boton.disabled = !verificarCamposCompletos(borrador);
        }
    
        {% for borrador in borradores %}
            const borrador{{ borrador.id }} = {{ borrador.as_dict()|tojson|safe }};
            actualizarEstadoBoton(borrador{{ borrador.id }});
    
            document.getElementById("guardarReceta{{ borrador_id }}").addEventListener("click", function () {
                const borrador{{ borrador.id }} = {{ borrador.as_dict()|tojson|safe }};
                
                if (verificarCamposCompletos(borrador{{ borrador.id }})) {
                    // Realizar la solicitud POST al servidor Flask para guardar la receta
                    fetch('/api/guardar_como_receta/{{ borrador_id }}', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ "borrador_id": {{ borrador.id }} })
                    })
                    .then(response => response.json())
                    .then(data => {
                        // Manejar la respuesta del servidor, por ejemplo, mostrar un mensaje de éxito o error
                        console.log(data);
                    })
                    .catch(error => {
                        console.error(error);
                    });
                } else {
                    // Mostrar un mensaje de error al usuario indicando que los campos requeridos no están llenos
                    console.error('No se pueden guardar los datos como receta. Algunos campos requeridos no están llenos.');
                }
            });
        {% endfor %}
    </script>
    
    {% endfor %}
</body>
</html>
