<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Borrador</title>
</head>
<body>
    <h1>Editar Borrador</h1>

    <form method="POST" action="{{ url_for('editar_borrador', borrador_id=borrador.id) }}">
        <label for="titulo_receta">Título de la Receta:</label>
        <input type="text" id="titulo_receta" name="titulo_receta" value="{{ borrador.titulo_receta }}"><br>

        <label for="descripcion">Descripción:</label>
        <input type="text" id="descripcion" name="descripcion" value="{{ borrador.descripcion }}"><br>

        <label for="categoria_id">Categoría:</label>
        <input type="text" id="categoria_id" name="categoria_id" value="{{ borrador.categoria_id }}"><br>

        <label for="tiempo_preparacion">Tiempo de Preparación:</label>
        <input type="text" id="tiempo_preparacion" name="tiempo_preparacion" value="{{ borrador.tiempo_preparacion }}"><br>

        <!-- Campos adicionales -->
        <label for="foto1">Foto 1:</label>
        <input type="text" id="foto1" name="foto1" value="{{ borrador.foto1 }}"><br>

        <label for="foto2">Foto 2:</label>
        <input type="text" id="foto2" name="foto2" value="{{ borrador.foto2 }}"><br>

        <label for="foto3">Foto 3:</label>
        <input type="text" id="foto3" name="foto3" value="{{ borrador.foto3 }}"><br>

        <label for="foto4">Foto 4:</label>
        <input type="text" id="foto4" name="foto4" value="{{ borrador.foto4 }}"><br>

        <label for="foto5">Foto 5:</label>
        <input type="text" id="foto5" name="foto5" value="{{ borrador.foto5 }}"><br>

        <label for="pasos">Pasos:</label>
        <textarea id="pasos" name="pasos">{{ borrador.pasos }}</textarea><br>


        <input type="submit" value="Guardar Cambios">
    </form>
</body>
</html>
